.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loginForm {
    background-color: #dbd9d4; /* White form background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.8, 0.8);
  }
  h2{text-align: center;
    font-family: 'Poppins';}
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
      font-family: 'Poppins';
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #3e3c3a;
    border-radius: 4px;
  
  }
  
  button {
    background-color: #594c4c;
    color: #503a3a;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins';
  }
  
  button:hover {
    background-color: #948a8a;
  }

  p {margin:auto;
       color:red}