.sidebar {
  
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  background-color: #333;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 0.9;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0.5, 0.9);
  border-bottom-left-radius: 50px;
}



.sidebar li {
  margin-bottom: 10px;
}

.mainSidebar {
  text-decoration: none;
  font-size: 25px;
  color: white;
  font-weight: unset;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
 
}

.sidebar a:hover {
  background-color: #555;
}

.subSidebar{
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: unset;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;

}